button{
    border: none;
    height: 25px;
    width: 100px;
    margin: 10px;
    background:  #3956c1;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background:  #28419c;
}